<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.refab">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReFab"
        tools:targetApi="31">

        <!-- Login Activity -->
        <activity
            android:name="com.example.refab.LoginActivity"
            android:exported="false" />

        <!-- Signup Activity -->
        <activity
            android:name="com.example.refab.SignUpActivity"
            android:exported="false" />

        <!-- Beranda Activity -->
        <activity
            android:name="com.example.refab.BerandaActivity"
            android:exported="true" />

        <!-- Search Activity -->
        <activity
            android:name="com.example.refab.SearchActivity"
            android:exported="true" />

        <!-- Menu Activity -->
        <activity
            android:name="com.example.refab.MenuActivity"
            android:exported="true" />

        <!-- Store Profile Activity -->
        <activity
            android:name="com.example.refab.StoreProfileActivity"
            android:exported="true" />

        <!-- Splash Activity sebagai launcher -->
        <activity
            android:name="com.example.refab.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ReFab.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="com.example.refab.MainActivity"
            android:exported="true" />

    </application>

</manifest>
